<nav class="navbar navbar-light justify-content-center mt-2 py-1 sticky-top" style="background-color: #38393a;">
  <span style="color: aliceblue;">Designed and Developed with ❤ by Sujeet Kumar Thakur</span>
  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          </span>
  <a href="https://github.com/imsujeet" target="new">
    <span class="pull-right" style="color: aliceblue;"><i class="fab fa-github fa-1x"></i></span>
  </a>
  <span>&nbsp;&nbsp;</span>
  <a href="https://www.linkedin.com/in/iamsujeet1308/" target="new">
    <span class="pull-right" style="color: aliceblue;"><i class="fab fa-linkedin fa-1x"></i></span>
  </a>


</nav>
