<div class="container image">
  <a [href]="hdUrl" target="new">
    <div class="card align-items-center p-4 mt-2" style="height:20rem">
      <img class="card-img-top" src="{{imageUrl}}" alt="{{imageTitle}}">
      <div class="text row  justify-content-center">
        <table class="table table-borderless table-sm table-transparent text-center">
          <tbody>
            <tr>
              <td>{{imageTitle}}</td>
            </tr>
            <tr>
              <td>{{imageDate}}</td>
            </tr>
          </tbody>
        </table>


      </div>

    </div>

  </a>


</div>
